body {
font-family: Arial, sans-serif;
background: #f3f3f3;
}

.container {
background: white;
width: 90%;
max-width: 500px;
margin: auto;
padding: 20px;
border-radius: 10px;
margin-top: 40px;
box-shadow: 0 0 10px #ccc;
}

input, textarea {
width: 100%;
padding: 8px;
margin-bottom: 12px;
}

button {
background: #1b7ced;
color: white;
border: none;
padding: 10px;
cursor: pointer;
width: 100%;
border-radius: 5px;
font-size: 16px;
}

button:hover {
background: #145db3;
}
